---
import { getCollection, type CollectionEntry } from "astro:content";

export const prerender = true;

type Blog = CollectionEntry<"blog">;

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post: Blog) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post }: { post: Blog } = Astro.props;
// Render the Markdown body
const { Content } = await post.render();
---

<html lang="en">
    <head>
        <title>{post.data.title}</title>
    </head>
    <body>
        <h1>{post.data.title}</h1>
        <p><strong>Date:</strong> {post.data.date.toDateString()}</p>
        {
            post.data.thumbnail && (
                <img src={post.data.thumbnail} alt={post.data.title} />
            )
        }
        <div>
            <Content />
        </div>
    </body>
</html>
